body {
    background: #f0ba56; ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 500px;
    height: 500px;
    background: #f5deb3;
    margin-left: 50px;
    border-radius: 5px;
    border:  10px #5c5b5b;
    box-shadow: 0 6px 10px 0 #00000033, 0 10px 20px 0 #00000030;
}

.pixel {
    width: 16px;
    height: 16px;
    float: left;
    box-shadow: 0px 0px 1px 0px transparent;
}

:root {
    --b1: #8f5227;
    --b2: #6c2e03;
    --b3: #af6a3c;

}



.pixel:nth-child(97),
.pixel:nth-child(100),
.pixel:nth-child(118),
.pixel:nth-child(121),
.pixel:nth-child(128),

.pixel:nth-child(131),
.pixel:nth-child(136),
.pixel:nth-child(144),
.pixel:nth-child(149),
.pixel:nth-child(152),

.pixel:nth-child(159),
.pixel:nth-child(163),
.pixel:nth-child(167),
.pixel:nth-child(175),
.pixel:nth-child(179),
.pixel:nth-child(183),

.pixel:nth-child(190),
.pixel:nth-child(191),
.pixel:nth-child(194),
.pixel:nth-child(197),
.pixel:nth-child(207),
.pixel:nth-child(210),
.pixel:nth-child(213),
.pixel:nth-child(214),

.pixel:nth-child(222),
.pixel:nth-child(223),
.pixel:nth-child(224),
.pixel:nth-child(225),
.pixel:nth-child(228),
.pixel:nth-child(238),
.pixel:nth-child(241),
.pixel:nth-child(242),
.pixel:nth-child(243),
.pixel:nth-child(244),

.pixel:nth-child(254),
.pixel:nth-child(255),
.pixel:nth-child(256),
.pixel:nth-child(257),
.pixel:nth-child(258),
.pixel:nth-child(259),
.pixel:nth-child(261),
.pixel:nth-child(267),
.pixel:nth-child(269),
.pixel:nth-child(270),
.pixel:nth-child(271),
.pixel:nth-child(272),
.pixel:nth-child(273),
.pixel:nth-child(274),

.pixel:nth-child(288),
.pixel:nth-child(289),
.pixel:nth-child(290),
.pixel:nth-child(292),
.pixel:nth-child(298),
.pixel:nth-child(300),
.pixel:nth-child(301),
.pixel:nth-child(302),

.pixel:nth-child(321),
.pixel:nth-child(322),
.pixel:nth-child(323),
.pixel:nth-child(329),
.pixel:nth-child(330),
.pixel:nth-child(331),

.pixel:nth-child(354),
.pixel:nth-child(355),
.pixel:nth-child(359),
.pixel:nth-child(360){
    background: var(--b1);
}


.pixel:nth-child(315),
.pixel:nth-child(316),
.pixel:nth-child(317),
.pixel:nth-child(335),
.pixel:nth-child(336),
.pixel:nth-child(337),

.pixel:nth-child(345),
.pixel:nth-child(349),
.pixel:nth-child(350),
.pixel:nth-child(353),
.pixel:nth-child(361),
.pixel:nth-child(364),
.pixel:nth-child(365),
.pixel:nth-child(369),

.pixel:nth-child(376),
.pixel:nth-child(382),
.pixel:nth-child(384),
.pixel:nth-child(385),
.pixel:nth-child(386),
.pixel:nth-child(387),
.pixel:nth-child(388),
.pixel:nth-child(389),
.pixel:nth-child(390),
.pixel:nth-child(391),
.pixel:nth-child(392),
.pixel:nth-child(394),
.pixel:nth-child(400),

.pixel:nth-child(407),
.pixel:nth-child(410),
.pixel:nth-child(414),
.pixel:nth-child(415),
.pixel:nth-child(416),
.pixel:nth-child(417),
.pixel:nth-child(418),
.pixel:nth-child(419),
.pixel:nth-child(420),
.pixel:nth-child(421),
.pixel:nth-child(422),
.pixel:nth-child(423),
.pixel:nth-child(424),
.pixel:nth-child(428),
.pixel:nth-child(431),

.pixel:nth-child(442),
.pixel:nth-child(443),
.pixel:nth-child(445),
.pixel:nth-child(446),
.pixel:nth-child(447),
.pixel:nth-child(448),
.pixel:nth-child(449),
.pixel:nth-child(450),
.pixel:nth-child(451),
.pixel:nth-child(452),
.pixel:nth-child(453),
.pixel:nth-child(454),
.pixel:nth-child(455),
.pixel:nth-child(457),
.pixel:nth-child(458),

.pixel:nth-child(475),
.pixel:nth-child(478),
.pixel:nth-child(479),
.pixel:nth-child(480),
.pixel:nth-child(481),
.pixel:nth-child(482),
.pixel:nth-child(483),
.pixel:nth-child(484),
.pixel:nth-child(487),

.pixel:nth-child(510),
.pixel:nth-child(511),
.pixel:nth-child(512),
.pixel:nth-child(513),
.pixel:nth-child(514),

.pixel:nth-child(541),
.pixel:nth-child(542),
.pixel:nth-child(543),
.pixel:nth-child(544),
.pixel:nth-child(545),

.pixel:nth-child(572),
.pixel:nth-child(573),
.pixel:nth-child(574),
.pixel:nth-child(575),
.pixel:nth-child(576),

.pixel:nth-child(603),
.pixel:nth-child(604),
.pixel:nth-child(605),
.pixel:nth-child(606),
.pixel:nth-child(607),

.pixel:nth-child(634),
.pixel:nth-child(635),
.pixel:nth-child(636),
.pixel:nth-child(637),
.pixel:nth-child(638),

.pixel:nth-child(665),
.pixel:nth-child(666),
.pixel:nth-child(667),
.pixel:nth-child(668),
.pixel:nth-child(669),

.pixel:nth-child(696),
.pixel:nth-child(700){
    background: var(--b2);
}

.pixel:nth-child(348),
.pixel:nth-child(366),

.pixel:nth-child(380),
.pixel:nth-child(381),
.pixel:nth-child(395),
.pixel:nth-child(396),

.pixel:nth-child(412),
.pixel:nth-child(413),
.pixel:nth-child(425),
.pixel:nth-child(426),

.pixel:nth-child(439),
.pixel:nth-child(444),
.pixel:nth-child(456),
.pixel:nth-child(461),

.pixel:nth-child(471),
.pixel:nth-child(476),
.pixel:nth-child(477),
.pixel:nth-child(485),
.pixel:nth-child(486),
.pixel:nth-child(491),

.pixel:nth-child(503),
.pixel:nth-child(504),
.pixel:nth-child(505),
.pixel:nth-child(506),
.pixel:nth-child(509),
.pixel:nth-child(515),
.pixel:nth-child(518),
.pixel:nth-child(519),
.pixel:nth-child(520),
.pixel:nth-child(521),

.pixel:nth-child(540),
.pixel:nth-child(546),

.pixel:nth-child(571),
.pixel:nth-child(577),

.pixel:nth-child(599),
.pixel:nth-child(602),
.pixel:nth-child(608),
.pixel:nth-child(611),

.pixel:nth-child(630),
.pixel:nth-child(631),
.pixel:nth-child(632),
.pixel:nth-child(633),
.pixel:nth-child(639),
.pixel:nth-child(640),
.pixel:nth-child(641),
.pixel:nth-child(642),

.pixel:nth-child(661),
.pixel:nth-child(662),
.pixel:nth-child(663),
.pixel:nth-child(664),
.pixel:nth-child(670),
.pixel:nth-child(671),
.pixel:nth-child(672),
.pixel:nth-child(673),

.pixel:nth-child(693),
.pixel:nth-child(694),
.pixel:nth-child(695),
.pixel:nth-child(701),
.pixel:nth-child(702),
.pixel:nth-child(703),

.pixel:nth-child(724),
.pixel:nth-child(725),
.pixel:nth-child(726),
.pixel:nth-child(732),
.pixel:nth-child(733),
.pixel:nth-child(734),

.pixel:nth-child(756),
.pixel:nth-child(764),

.pixel:nth-child(787),
.pixel:nth-child(795){
    background: var(--b3);
}

.pixel:nth-child(507),
.pixel:nth-child(508),
.pixel:nth-child(516),
.pixel:nth-child(517),

.pixel:nth-child(568),

.pixel:nth-child(580),

.pixel:nth-child(600),
.pixel:nth-child(601),

.pixel:nth-child(609),
.pixel:nth-child(610),
.pixel:nth-child(697),
.pixel:nth-child(698),
.pixel:nth-child(699),
.pixel:nth-child(727),
.pixel:nth-child(731),

.pixel:nth-child(757),
.pixel:nth-child(763),
.pixel:nth-child(788),
.pixel:nth-child(789),
.pixel:nth-child(793),
.pixel:nth-child(794),

.pixel:nth-child(819),
.pixel:nth-child(825),

.pixel:nth-child(851),
.pixel:nth-child(852),
.pixel:nth-child(853),
.pixel:nth-child(854),
.pixel:nth-child(855),

.pixel:nth-child(346),
.pixel:nth-child(347),

.pixel:nth-child(377),
.pixel:nth-child(378),
.pixel:nth-child(379),

.pixel:nth-child(408),
.pixel:nth-child(409),
.pixel:nth-child(411),

.pixel:nth-child(440),
.pixel:nth-child(441),
.pixel:nth-child(472),
.pixel:nth-child(473),
.pixel:nth-child(474),

.pixel:nth-child(367),
.pixel:nth-child(368),
.pixel:nth-child(397),
.pixel:nth-child(398),
.pixel:nth-child(399),
.pixel:nth-child(427),
.pixel:nth-child(429),
.pixel:nth-child(430),
.pixel:nth-child(459),
.pixel:nth-child(460),
.pixel:nth-child(488),
.pixel:nth-child(489),
.pixel:nth-child(490){
    background: #f5f5f5;
}


.pixel:nth-child(537),
.pixel:nth-child(538),
.pixel:nth-child(539),
.pixel:nth-child(547),
.pixel:nth-child(548),
.pixel:nth-child(549),

.pixel:nth-child(569),
.pixel:nth-child(570),
.pixel:nth-child(578),
.pixel:nth-child(579),

.pixel:nth-child(728),
.pixel:nth-child(729),
.pixel:nth-child(730),

.pixel:nth-child(758),
.pixel:nth-child(759),
.pixel:nth-child(760),
.pixel:nth-child(761),
.pixel:nth-child(762),

.pixel:nth-child(790),
.pixel:nth-child(791),
.pixel:nth-child(792),

.pixel:nth-child(820),
.pixel:nth-child(821),
.pixel:nth-child(822),
.pixel:nth-child(823),
.pixel:nth-child(824){
    background: #000;
}