body {
    background:  #152028;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 500px;
    height: 500px;
    background:  #1d3e47;
    margin-left: 50px;
}

.ghost {
    width: 525px;
    height: 500px;
    background:  #1d3e47;
}

.pixel {
    width: 10px;
    height: 10px;
    float: left;
    box-shadow: 0px 0px 1px 0px transparent;
}


.pixel:nth-child(268),
.pixel:nth-child(267),
.pixel:nth-child(269),
.pixel:nth-child(270),
.pixel:nth-child(271),
.pixel:nth-child(272),
.pixel:nth-child(273),
.pixel:nth-child(324),
.pixel:nth-child(325),
.pixel:nth-child(314),
.pixel:nth-child(315),
.pixel:nth-child(316),
.pixel:nth-child(376),
.pixel:nth-child(427),
.pixel:nth-child(363),
.pixel:nth-child(413),
.pixel:nth-child(462),
.pixel:nth-child(477),
.pixel:nth-child(528),
.pixel:nth-child(511),
.pixel:nth-child(561),
.pixel:nth-child(578),
.pixel:nth-child(628),
.pixel:nth-child(610),
.pixel:nth-child(614),
.pixel:nth-child(618),
.pixel:nth-child(660),
.pixel:nth-child(663),
.pixel:nth-child(664),
.pixel:nth-child(668),
.pixel:nth-child(669),
.pixel:nth-child(679),
.pixel:nth-child(710),
.pixel:nth-child(712),
.pixel:nth-child(713),
.pixel:nth-child(714),
.pixel:nth-child(718),
.pixel:nth-child(719),
.pixel:nth-child(720),
.pixel:nth-child(729),
.pixel:nth-child(760),
.pixel:nth-child(762),
.pixel:nth-child(763),
.pixel:nth-child(764),
.pixel:nth-child(768),
.pixel:nth-child(769),
.pixel:nth-child(770),
.pixel:nth-child(779),
.pixel:nth-child(829),
.pixel:nth-child(879),
.pixel:nth-child(807),
.pixel:nth-child(808),
.pixel:nth-child(809),
.pixel:nth-child(810),
.pixel:nth-child(856),
.pixel:nth-child(905),
.pixel:nth-child(955),
.pixel:nth-child(930),
.pixel:nth-child(980),
.pixel:nth-child(1030),
.pixel:nth-child(1080),
.pixel:nth-child(1130),
.pixel:nth-child(1104),
.pixel:nth-child(1004),
.pixel:nth-child(1054),
.pixel:nth-child(1154),
.pixel:nth-child(1180),
.pixel:nth-child(1205),
.pixel:nth-child(1206),
.pixel:nth-child(1207),
.pixel:nth-child(1208),
.pixel:nth-child(1218),
.pixel:nth-child(1220),
.pixel:nth-child(1168),
.pixel:nth-child(1118),
.pixel:nth-child(1069),
.pixel:nth-child(1020),
.pixel:nth-child(915),
.pixel:nth-child(916),
.pixel:nth-child(917),
.pixel:nth-child(971),
.pixel:nth-child(972),
.pixel:nth-child(973),
.pixel:nth-child(974),
.pixel:nth-child(1025),
.pixel:nth-child(1076),
.pixel:nth-child(1219),
.pixel:nth-child(1230),
.pixel:nth-child(1256),
.pixel:nth-child(1259),
.pixel:nth-child(1269),
.pixel:nth-child(1271),
.pixel:nth-child(1280),
.pixel:nth-child(1307),
.pixel:nth-child(1309),
.pixel:nth-child(1319),
.pixel:nth-child(1321),
.pixel:nth-child(1330),
.pixel:nth-child(1358),
.pixel:nth-child(1359),
.pixel:nth-child(1370),
.pixel:nth-child(1372),
.pixel:nth-child(1381),
.pixel:nth-child(1409),
.pixel:nth-child(1420),
.pixel:nth-child(1423),
.pixel:nth-child(1431),
.pixel:nth-child(1459),
.pixel:nth-child(1471),
.pixel:nth-child(1473),
.pixel:nth-child(1481),
.pixel:nth-child(1509),
.pixel:nth-child(1522),
.pixel:nth-child(1523),
.pixel:nth-child(1531),
.pixel:nth-child(1559),
.pixel:nth-child(1573),
.pixel:nth-child(1582),
.pixel:nth-child(1609),
.pixel:nth-child(1624),
.pixel:nth-child(1632),
.pixel:nth-child(1659),
.pixel:nth-child(1682),
.pixel:nth-child(1709),
.pixel:nth-child(1733),
.pixel:nth-child(1760),
.pixel:nth-child(1783),
.pixel:nth-child(1834),
.pixel:nth-child(1884),
.pixel:nth-child(1810),
.pixel:nth-child(1812),
.pixel:nth-child(1813),
.pixel:nth-child(1814),
.pixel:nth-child(1815),
.pixel:nth-child(1816),
.pixel:nth-child(1817),
.pixel:nth-child(1860),
.pixel:nth-child(1861),
.pixel:nth-child(1867),
.pixel:nth-child(1868),
.pixel:nth-child(1910),
.pixel:nth-child(1911),
.pixel:nth-child(1917),
.pixel:nth-child(1919),
.pixel:nth-child(1935),
.pixel:nth-child(1961),
.pixel:nth-child(1962),
.pixel:nth-child(1963),
.pixel:nth-child(1964),
.pixel:nth-child(1965),
.pixel:nth-child(1966),
.pixel:nth-child(1967),
.pixel:nth-child(1968),
.pixel:nth-child(1985),
.pixel:nth-child(2015),
.pixel:nth-child(2018),
.pixel:nth-child(2019),
.pixel:nth-child(2020),
.pixel:nth-child(2021),
.pixel:nth-child(2022),
.pixel:nth-child(2023),
.pixel:nth-child(2036),
.pixel:nth-child(2065),
.pixel:nth-child(2066),
.pixel:nth-child(2067),
.pixel:nth-child(2068),
.pixel:nth-child(2074),
.pixel:nth-child(2075),
.pixel:nth-child(2076),
.pixel:nth-child(2077),
.pixel:nth-child(2078),
.pixel:nth-child(2079),
.pixel:nth-child(2080),
.pixel:nth-child(2081),
.pixel:nth-child(2082),
.pixel:nth-child(2083),
.pixel:nth-child(2084),
.pixel:nth-child(2085),
.pixel:nth-child(2086),
.pixel:nth-child(2087) {
    background: #1b1b1b;
}

.pixel:nth-child(317),
.pixel:nth-child(318),
.pixel:nth-child(319),
.pixel:nth-child(320),
.pixel:nth-child(321),
.pixel:nth-child(322),
.pixel:nth-child(323),
.pixel:nth-child(373),
.pixel:nth-child(374),
.pixel:nth-child(375),
.pixel:nth-child(423),
.pixel:nth-child(424),
.pixel:nth-child(425),
.pixel:nth-child(426),
.pixel:nth-child(475),
.pixel:nth-child(476),
.pixel:nth-child(525),
.pixel:nth-child(526),
.pixel:nth-child(527),
.pixel:nth-child(575),
.pixel:nth-child(576),
.pixel:nth-child(577),
.pixel:nth-child(626),
.pixel:nth-child(627),
.pixel:nth-child(677),
.pixel:nth-child(678),
.pixel:nth-child(676),
.pixel:nth-child(726),
.pixel:nth-child(727),
.pixel:nth-child(728),
.pixel:nth-child(776),
.pixel:nth-child(777),
.pixel:nth-child(778),
.pixel:nth-child(826),
.pixel:nth-child(827),
.pixel:nth-child(828),
.pixel:nth-child(876),
.pixel:nth-child(877),
.pixel:nth-child(878),
.pixel:nth-child(926),
.pixel:nth-child(927),
.pixel:nth-child(928),
.pixel:nth-child(929)


 {
    background: #808080;
}


.pixel:nth-child(364),
.pixel:nth-child(365),
.pixel:nth-child(366),
.pixel:nth-child(367),
.pixel:nth-child(368),
.pixel:nth-child(369),
.pixel:nth-child(370),
.pixel:nth-child(371),
.pixel:nth-child(372),

.pixel:nth-child(414),
.pixel:nth-child(415),
.pixel:nth-child(416),
.pixel:nth-child(417),
.pixel:nth-child(418),
.pixel:nth-child(419),
.pixel:nth-child(420),
.pixel:nth-child(421),
.pixel:nth-child(422),

.pixel:nth-child(463),
.pixel:nth-child(464),
.pixel:nth-child(465),
.pixel:nth-child(466),
.pixel:nth-child(467),
.pixel:nth-child(468),
.pixel:nth-child(469),
.pixel:nth-child(470),
.pixel:nth-child(471),
.pixel:nth-child(472),
.pixel:nth-child(473),
.pixel:nth-child(474),

.pixel:nth-child(512),
.pixel:nth-child(513),
.pixel:nth-child(514),
.pixel:nth-child(515),
.pixel:nth-child(516),
.pixel:nth-child(517),
.pixel:nth-child(518),
.pixel:nth-child(519),
.pixel:nth-child(520),
.pixel:nth-child(521),
.pixel:nth-child(522),
.pixel:nth-child(523),
.pixel:nth-child(524),

.pixel:nth-child(562),
.pixel:nth-child(563),
.pixel:nth-child(564),
.pixel:nth-child(565),
.pixel:nth-child(566),
.pixel:nth-child(567),
.pixel:nth-child(568),
.pixel:nth-child(569),
.pixel:nth-child(570),
.pixel:nth-child(571),
.pixel:nth-child(572),
.pixel:nth-child(573),
.pixel:nth-child(574),

.pixel:nth-child(611),
.pixel:nth-child(612),
.pixel:nth-child(613),
.pixel:nth-child(615),
.pixel:nth-child(616),
.pixel:nth-child(617),
.pixel:nth-child(619),
.pixel:nth-child(620),
.pixel:nth-child(621),
.pixel:nth-child(622),
.pixel:nth-child(623),
.pixel:nth-child(624),
.pixel:nth-child(625),

.pixel:nth-child(661),
.pixel:nth-child(662),
.pixel:nth-child(665),
.pixel:nth-child(666),
.pixel:nth-child(667),
.pixel:nth-child(670),
.pixel:nth-child(671),
.pixel:nth-child(672),
.pixel:nth-child(673),
.pixel:nth-child(674),
.pixel:nth-child(675),


.pixel:nth-child(711),
.pixel:nth-child(715),
.pixel:nth-child(716),
.pixel:nth-child(717),
.pixel:nth-child(721),
.pixel:nth-child(722),
.pixel:nth-child(723),
.pixel:nth-child(724),
.pixel:nth-child(725),

.pixel:nth-child(761),
.pixel:nth-child(765),
.pixel:nth-child(766),
.pixel:nth-child(767),
.pixel:nth-child(771),
.pixel:nth-child(772),
.pixel:nth-child(773),
.pixel:nth-child(774),
.pixel:nth-child(775),

.pixel:nth-child(811),
.pixel:nth-child(812),
.pixel:nth-child(813),
.pixel:nth-child(814),
.pixel:nth-child(815),
.pixel:nth-child(816),
.pixel:nth-child(817),
.pixel:nth-child(818),
.pixel:nth-child(819),
.pixel:nth-child(820),
.pixel:nth-child(821),
.pixel:nth-child(822),
.pixel:nth-child(823),
.pixel:nth-child(824),
.pixel:nth-child(825),

.pixel:nth-child(857),
.pixel:nth-child(858),
.pixel:nth-child(859),
.pixel:nth-child(860),
.pixel:nth-child(861),
.pixel:nth-child(862),
.pixel:nth-child(863),
.pixel:nth-child(864),
.pixel:nth-child(865),
.pixel:nth-child(866),
.pixel:nth-child(867),
.pixel:nth-child(868),
.pixel:nth-child(869),
.pixel:nth-child(870),
.pixel:nth-child(871),
.pixel:nth-child(872),
.pixel:nth-child(873),
.pixel:nth-child(874),
.pixel:nth-child(875),

.pixel:nth-child(906),
.pixel:nth-child(907),
.pixel:nth-child(908),
.pixel:nth-child(909),
.pixel:nth-child(910),
.pixel:nth-child(911),
.pixel:nth-child(912),
.pixel:nth-child(913),
.pixel:nth-child(914),
.pixel:nth-child(918),
.pixel:nth-child(919),
.pixel:nth-child(920),
.pixel:nth-child(921),
.pixel:nth-child(922),
.pixel:nth-child(923),
.pixel:nth-child(924),
.pixel:nth-child(925),

.pixel:nth-child(956),
.pixel:nth-child(957),
.pixel:nth-child(958),
.pixel:nth-child(959),
.pixel:nth-child(960),
.pixel:nth-child(962),
.pixel:nth-child(963),
.pixel:nth-child(964),
.pixel:nth-child(965),
.pixel:nth-child(966),
.pixel:nth-child(967),
.pixel:nth-child(968),
.pixel:nth-child(969),
.pixel:nth-child(970),

.pixel:nth-child(1005),
.pixel:nth-child(1006),
.pixel:nth-child(1007),
.pixel:nth-child(1008),
.pixel:nth-child(1009),
.pixel:nth-child(1012),
.pixel:nth-child(1013),
.pixel:nth-child(1014),
.pixel:nth-child(1015),
.pixel:nth-child(1016),
.pixel:nth-child(1017),
.pixel:nth-child(1018),
.pixel:nth-child(1019),
.pixel:nth-child(1021),
.pixel:nth-child(1022),
.pixel:nth-child(1023),
.pixel:nth-child(1024),

.pixel:nth-child(1055),
.pixel:nth-child(1056),
.pixel:nth-child(1057),
.pixel:nth-child(1058),
.pixel:nth-child(1062),
.pixel:nth-child(1063),
.pixel:nth-child(1064),
.pixel:nth-child(1065),
.pixel:nth-child(1066),
.pixel:nth-child(1067),
.pixel:nth-child(1068),
.pixel:nth-child(1070),
.pixel:nth-child(1071),
.pixel:nth-child(1072),
.pixel:nth-child(1073),
.pixel:nth-child(1074),
.pixel:nth-child(1075),

.pixel:nth-child(1105),
.pixel:nth-child(1106),
.pixel:nth-child(1107),
.pixel:nth-child(1112),
.pixel:nth-child(1113),
.pixel:nth-child(1114),
.pixel:nth-child(1115),
.pixel:nth-child(1116),
.pixel:nth-child(1117),
.pixel:nth-child(1119),
.pixel:nth-child(1120),
.pixel:nth-child(1121),
.pixel:nth-child(1122),
.pixel:nth-child(1123),
.pixel:nth-child(1124),
.pixel:nth-child(1125),
.pixel:nth-child(1126),

.pixel:nth-child(1155),
.pixel:nth-child(1156),
.pixel:nth-child(1157),
.pixel:nth-child(1162),
.pixel:nth-child(1163),
.pixel:nth-child(1164),
.pixel:nth-child(1165),
.pixel:nth-child(1166),
.pixel:nth-child(1167),
.pixel:nth-child(1169),
.pixel:nth-child(1170),
.pixel:nth-child(1171),
.pixel:nth-child(1172),
.pixel:nth-child(1173),
.pixel:nth-child(1174),
.pixel:nth-child(1175),
.pixel:nth-child(1176),
.pixel:nth-child(1212),
.pixel:nth-child(1213),
.pixel:nth-child(1214),
.pixel:nth-child(1215),
.pixel:nth-child(1216),
.pixel:nth-child(1217),
.pixel:nth-child(1221),
.pixel:nth-child(1222),
.pixel:nth-child(1223),
.pixel:nth-child(1224),
.pixel:nth-child(1225),
.pixel:nth-child(1226),
.pixel:nth-child(1227),

.pixel:nth-child(1262),
.pixel:nth-child(1263),
.pixel:nth-child(1264),
.pixel:nth-child(1265),
.pixel:nth-child(1266),
.pixel:nth-child(1267),
.pixel:nth-child(1268),
.pixel:nth-child(1272),
.pixel:nth-child(1273),
.pixel:nth-child(1274),
.pixel:nth-child(1275),
.pixel:nth-child(1276),
.pixel:nth-child(1277),
.pixel:nth-child(1312),
.pixel:nth-child(1313),
.pixel:nth-child(1314),
.pixel:nth-child(1315),
.pixel:nth-child(1316),
.pixel:nth-child(1317),
.pixel:nth-child(1318),
.pixel:nth-child(1322),
.pixel:nth-child(1323),
.pixel:nth-child(1324),
.pixel:nth-child(1325),
.pixel:nth-child(1326),
.pixel:nth-child(1327),
.pixel:nth-child(1328),

.pixel:nth-child(1362),
.pixel:nth-child(1363),
.pixel:nth-child(1365),
.pixel:nth-child(1366),
.pixel:nth-child(1367),
.pixel:nth-child(1368),
.pixel:nth-child(1369),
.pixel:nth-child(1373),
.pixel:nth-child(1374),
.pixel:nth-child(1375),
.pixel:nth-child(1376),
.pixel:nth-child(1377),
.pixel:nth-child(1378),

.pixel:nth-child(1412),
.pixel:nth-child(1413),
.pixel:nth-child(1415),
.pixel:nth-child(1416),
.pixel:nth-child(1417),
.pixel:nth-child(1418),
.pixel:nth-child(1419),
.pixel:nth-child(1424),
.pixel:nth-child(1425),
.pixel:nth-child(1426),
.pixel:nth-child(1427),
.pixel:nth-child(1428),

.pixel:nth-child(1462),
.pixel:nth-child(1463),
.pixel:nth-child(1465),
.pixel:nth-child(1466),
.pixel:nth-child(1467),
.pixel:nth-child(1468),
.pixel:nth-child(1474),
.pixel:nth-child(1475),
.pixel:nth-child(1477),

.pixel:nth-child(1512),
.pixel:nth-child(1513),
.pixel:nth-child(1515),
.pixel:nth-child(1516),
.pixel:nth-child(1517),
.pixel:nth-child(1518),
.pixel:nth-child(1524),
.pixel:nth-child(1525),
.pixel:nth-child(1527),

.pixel:nth-child(1562),
.pixel:nth-child(1563),
.pixel:nth-child(1565),
.pixel:nth-child(1566),
.pixel:nth-child(1567),
.pixel:nth-child(1568),
.pixel:nth-child(1574),
.pixel:nth-child(1575),
.pixel:nth-child(1577),

.pixel:nth-child(1612),
.pixel:nth-child(1613),
.pixel:nth-child(1615),
.pixel:nth-child(1616),
.pixel:nth-child(1617),
.pixel:nth-child(1618),
.pixel:nth-child(1619),
.pixel:nth-child(1624),
.pixel:nth-child(1625),
.pixel:nth-child(1626),
.pixel:nth-child(1627),
.pixel:nth-child(1628),

.pixel:nth-child(1662),
.pixel:nth-child(1663),
.pixel:nth-child(1665),
.pixel:nth-child(1666),
.pixel:nth-child(1667),
.pixel:nth-child(1668),
.pixel:nth-child(1669),
.pixel:nth-child(1675),
.pixel:nth-child(1676),

.pixel:nth-child(1712),
.pixel:nth-child(1713),
.pixel:nth-child(1715),
.pixel:nth-child(1716),
.pixel:nth-child(1717),
.pixel:nth-child(1718),
.pixel:nth-child(1719),
.pixel:nth-child(1725),
.pixel:nth-child(1726),

.pixel:nth-child(1762),
.pixel:nth-child(1763),
.pixel:nth-child(1765),
.pixel:nth-child(1766),
.pixel:nth-child(1767),
.pixel:nth-child(1768),
.pixel:nth-child(1769),
.pixel:nth-child(1775),
.pixel:nth-child(1776),

.pixel:nth-child(1818),
.pixel:nth-child(1819),
.pixel:nth-child(1826),
.pixel:nth-child(1827),
.pixel:nth-child(1877),
.pixel:nth-child(1878)


{
    background: #eeeeee;
}

.pixel:nth-child(961),
.pixel:nth-child(975),
.pixel:nth-child(976),
.pixel:nth-child(977),
.pixel:nth-child(978),
.pixel:nth-child(979),
.pixel:nth-child(1010),
.pixel:nth-child(1011),
.pixel:nth-child(1026),
.pixel:nth-child(1027),
.pixel:nth-child(1028),
.pixel:nth-child(1029),
.pixel:nth-child(1059),
.pixel:nth-child(1060),
.pixel:nth-child(1061),
.pixel:nth-child(1077),
.pixel:nth-child(1078),
.pixel:nth-child(1079),
.pixel:nth-child(1108),
.pixel:nth-child(1109),
.pixel:nth-child(1110),
.pixel:nth-child(1111),
.pixel:nth-child(1127),
.pixel:nth-child(1128),
.pixel:nth-child(1129),
.pixel:nth-child(1158),
.pixel:nth-child(1159),
.pixel:nth-child(1160),
.pixel:nth-child(1161),
.pixel:nth-child(1177),
.pixel:nth-child(1178),
.pixel:nth-child(1179),

.pixel:nth-child(1209),
.pixel:nth-child(1210),
.pixel:nth-child(1211),
.pixel:nth-child(1228),
.pixel:nth-child(1229),

.pixel:nth-child(1257),
.pixel:nth-child(1258),
.pixel:nth-child(1260),
.pixel:nth-child(1261),
.pixel:nth-child(1270),
.pixel:nth-child(1278),
.pixel:nth-child(1279),

.pixel:nth-child(1308),
.pixel:nth-child(1310),
.pixel:nth-child(1311),
.pixel:nth-child(1314),
.pixel:nth-child(1320),
.pixel:nth-child(1329),

.pixel:nth-child(1360),
.pixel:nth-child(1361),
.pixel:nth-child(1364),
.pixel:nth-child(1371),
.pixel:nth-child(1379),
.pixel:nth-child(1380),

.pixel:nth-child(1410),
.pixel:nth-child(1411),
.pixel:nth-child(1414),
.pixel:nth-child(1421),
.pixel:nth-child(1422),
.pixel:nth-child(1429),
.pixel:nth-child(1430),

.pixel:nth-child(1460),
.pixel:nth-child(1461),
.pixel:nth-child(1510),
.pixel:nth-child(1511),
.pixel:nth-child(1560),
.pixel:nth-child(1561),
.pixel:nth-child(1610),
.pixel:nth-child(1611),
.pixel:nth-child(1660),
.pixel:nth-child(1661),
.pixel:nth-child(1710),
.pixel:nth-child(1711),
.pixel:nth-child(1761),
.pixel:nth-child(1811),

.pixel:nth-child(1469),
.pixel:nth-child(1470),
.pixel:nth-child(1472),
.pixel:nth-child(1476),
.pixel:nth-child(1478),
.pixel:nth-child(1479),
.pixel:nth-child(1480),

.pixel:nth-child(1519),
.pixel:nth-child(1520),
.pixel:nth-child(1521),
.pixel:nth-child(1526),
.pixel:nth-child(1528),
.pixel:nth-child(1529),
.pixel:nth-child(1530),

.pixel:nth-child(1569),
.pixel:nth-child(1570),
.pixel:nth-child(1571),
.pixel:nth-child(1572),
.pixel:nth-child(1576),
.pixel:nth-child(1577),
.pixel:nth-child(1578),
.pixel:nth-child(1579),
.pixel:nth-child(1580),
.pixel:nth-child(1581),

.pixel:nth-child(1619),
.pixel:nth-child(1620),
.pixel:nth-child(1621),
.pixel:nth-child(1622),
.pixel:nth-child(1623),
.pixel:nth-child(1626),
.pixel:nth-child(1627),
.pixel:nth-child(1628),
.pixel:nth-child(1629),
.pixel:nth-child(1630),
.pixel:nth-child(1631),

.pixel:nth-child(1670),
.pixel:nth-child(1671),
.pixel:nth-child(1672),
.pixel:nth-child(1673),
.pixel:nth-child(1674),
.pixel:nth-child(1677),
.pixel:nth-child(1678),
.pixel:nth-child(1679),
.pixel:nth-child(1680),
.pixel:nth-child(1681),


.pixel:nth-child(1862),
.pixel:nth-child(1863),
.pixel:nth-child(1864),
.pixel:nth-child(1865),
.pixel:nth-child(1866),

.pixel:nth-child(1912),
.pixel:nth-child(1913),
.pixel:nth-child(1914),
.pixel:nth-child(1915),
.pixel:nth-child(1916),

.pixel:nth-child(1720),
.pixel:nth-child(1721),
.pixel:nth-child(1722),
.pixel:nth-child(1723),
.pixel:nth-child(1724),
.pixel:nth-child(1727),
.pixel:nth-child(1728),
.pixel:nth-child(1729),
.pixel:nth-child(1730),
.pixel:nth-child(1731),
.pixel:nth-child(1732),

.pixel:nth-child(1770),
.pixel:nth-child(1771),
.pixel:nth-child(1772),
.pixel:nth-child(1773),
.pixel:nth-child(1774),
.pixel:nth-child(1777),
.pixel:nth-child(1778),
.pixel:nth-child(1779),
.pixel:nth-child(1780),
.pixel:nth-child(1781),
.pixel:nth-child(1782),


.pixel:nth-child(1820),
.pixel:nth-child(1821),
.pixel:nth-child(1822),
.pixel:nth-child(1823),
.pixel:nth-child(1824),
.pixel:nth-child(1825),
.pixel:nth-child(1828),
.pixel:nth-child(1829),
.pixel:nth-child(1830),
.pixel:nth-child(1831),
.pixel:nth-child(1832),
.pixel:nth-child(1833),



.pixel:nth-child(1869),
.pixel:nth-child(1870),
.pixel:nth-child(1871),
.pixel:nth-child(1872),
.pixel:nth-child(1873),
.pixel:nth-child(1874),
.pixel:nth-child(1875),
.pixel:nth-child(1876),
.pixel:nth-child(1879),
.pixel:nth-child(1880),
.pixel:nth-child(1881),
.pixel:nth-child(1882),
.pixel:nth-child(1883),


.pixel:nth-child(1918),
.pixel:nth-child(1920),
.pixel:nth-child(1921),
.pixel:nth-child(1922),
.pixel:nth-child(1923),
.pixel:nth-child(1924),
.pixel:nth-child(1925),
.pixel:nth-child(1926),
.pixel:nth-child(1927),
.pixel:nth-child(1928),
.pixel:nth-child(1929),
.pixel:nth-child(1930),
.pixel:nth-child(1931),
.pixel:nth-child(1932),
.pixel:nth-child(1933),
.pixel:nth-child(1934),

.pixel:nth-child(1969),
.pixel:nth-child(1970),
.pixel:nth-child(1971),
.pixel:nth-child(1972),
.pixel:nth-child(1973),
.pixel:nth-child(1974),
.pixel:nth-child(1975),
.pixel:nth-child(1976),
.pixel:nth-child(1977),
.pixel:nth-child(1978),
.pixel:nth-child(1979),
.pixel:nth-child(1980),
.pixel:nth-child(1981),
.pixel:nth-child(1982),
.pixel:nth-child(1983),
.pixel:nth-child(1984),

.pixel:nth-child(2024),
.pixel:nth-child(2025),
.pixel:nth-child(2026),
.pixel:nth-child(2027),
.pixel:nth-child(2028),
.pixel:nth-child(2029),
.pixel:nth-child(2030),
.pixel:nth-child(2031),
.pixel:nth-child(2032),
.pixel:nth-child(2033),
.pixel:nth-child(2034),
.pixel:nth-child(2035),

.pixel:nth-child(1464),
.pixel:nth-child(1514),
.pixel:nth-child(1564),
.pixel:nth-child(1614),
.pixel:nth-child(1664),
.pixel:nth-child(1665),
.pixel:nth-child(1712),
.pixel:nth-child(1714),
.pixel:nth-child(1715),
.pixel:nth-child(1762),
.pixel:nth-child(1764),
.pixel:nth-child(1765),

.pixel:nth-child(2016),
.pixel:nth-child(2017)



 {
    background: #808080;
}